@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --Text_color_Light : #fcfcfc;
  --Text_color_Dark :#010101;
  --btn-color :#304ddfd8;
  --Border-radius : 7px;
  --BOX_shadow : 0 0.1rem 0.7rem var(--Text_color_Dark), inset 0 0 0.5rem var(--Text_color_Dark);
}

/* General styles*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
  overflow-x: hidden;
}

/* header */

header {
  padding: 1% 2.2%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(2px); 
  
}
header.sticky{
  padding: 1.2% 2.4%;
  background-color: var(--Text_color_Light);
  box-shadow: 0 0 0.4rem #000;
  
}
header #MenuIcon{
  font-size: 2rem;
  display: none;
}

.header__logo .logo{
  width: 160px;
  cursor: pointer;
  height: auto;
  object-fit: contain;
  animation: colorChange 0.5s ease-in-out infinite;
  filter: contrast(200%) brightness(70%);
}
@keyframes colorChange {
  0%{
    filter: hue-rotate(180deg);
  }
  100%{
    filter: hue-rotate(360deg) ;
  }
  
}

header #nav-links{
  display: flex;
  align-items: center;
  gap: 0 3rem;
}

#nav-links a{
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--Text_color_Dark);
  transition: 0.3s; 
  position: relative; 
  
}
#nav-links a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: var(--Text_color_Dark);
  transition: all ease 1s;
}

#nav-links a:hover::after{
  width: 100%;
}

#nav-links a:hover,
#nav-links a:active{
  color: var(--Text_color_Dark);
}

/* homepage design*/

#home{
  position: relative;
  background-color: var(--Text_color_Light);
  background-image:url("assets/HomeBkg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  color: var(--Text_color_Dark);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.3rem 0;
  
}
#home .slider .swiper{
  max-width: 1100px;
  padding: 1rem 0;
  height: 65vh;
  cursor: pointer;
}

.slider #HomeContent{
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem 0;
}
.slider h1{
  font-size: 3.3rem;
  font-weight: 700;
  color: var(--Text_color_Dark);
  
}
.slider #wrap{
  width: 760px;
  height: auto;
  object-fit: contain;
}

.slider #HomeContent p {
  margin-inline: auto;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--Text_color_Dark);
  
}

.explore a {
  display: inline-block;
  padding: 0.7rem;
  font-size: 1.4rem;
  width: 180px;
  font-weight: 600;
  color: var(--Text_color_Light);
  background-color: var(--btn-color);
  box-shadow: 0 0 0.5rem var(--btn-color);
  cursor: pointer;
  border-radius: var(--Border-radius);;
  transition: all 0.4s ease-in-out;
}
.explore a:hover,
.explore a:focus{
  transform: scale(0.97);
  box-shadow: none;
}



.slider .swiper #FreeTraining {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem 0;
  background-image:url("assets/LinuxBG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
}

#FreeTraining h2{
  font-size: 2rem;
  padding: 0.2rem;
  font-weight: 900;
  border-bottom: 2px solid var(--Text_color_Dark);
  
}

@keyframes popUP {  
  50%{
    transform: scale(0.9);
  }
  
  100%{
    transform: scale(1);
  }
  
}
#FreeTraining #Training{
  font-size: 3.3rem;
  text-shadow: 0 0 0.1rem var(--btn-color);
  color: var(--btn-color);
  font-weight: 700;
}

#FreeTraining p{
  font-size: 1.2rem;
  width: 90%;
}

#FreeTraining .announce a{
  animation: popUP 1.5s ease-in infinite;
  transition: all 0.1s ease-in-out;
}


#home .whatsApp{
  position: fixed;
  right: 0;
  bottom: 10%;
  z-index: 99;
}
.whatsApp a{
  font-size: 4rem;
  color: green;
  cursor: pointer;
}

/*======================== Choose section=============================*/

.choose__container {
  min-height: 100vh;
  position: relative;
  display: grid;
  text-align: center;
  background-color: var(--Text_color_Light);
  background-image:url("assets/ChooseBG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

.choose__content .section__header{
  font-size: 2.9rem;
  color: var(--Text_color_Dark) ;
  margin-bottom: 0.8rem;
}
.choose__content p{
  margin-bottom: 1.5rem;
  width: 40%;
  margin: 0 auto;
  font-size: 1.02rem;
}

#choose .choose__grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem 0.7rem;
  padding: 1rem;
}

.choose__grid .choose__card{
  padding: 0.7rem .6rem;
  border-radius: 7px;
  transition: 0.3s ease;
  box-shadow: 0 0 0 transparent, inset 0 0 0.5rem var(--Text_color_Dark);
  background-color: #f5f0f01b;
  backdrop-filter: blur(7px);
  cursor: pointer;
}


.choose__card span {
  display: inline-block;
  margin-bottom: 0.7rem;
  padding: 5px 1rem;
  font-size: 2.6rem;
  background-color: var(--btn-color);
  border-radius: 50%;
  color: var(--Text_color_Light);
  
}

.choose__card h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-dark);
}

.choose__card p {
  color: var(--text-light);
  text-align: center;
  word-spacing: .15rem;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0.4rem;
}

/*===================================== offer section============================================ */
#offer{
  min-height: 100vh;
  text-align: center;
  padding: 2%;
  background-color: var(--Text_color_Light);
  background-image:url("assets/OfferBackG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
#offer .offer__content{
  display: flex;
  justify-content: space-around;
  gap: 0.7rem 0;
  align-items: center;
  flex-direction: column;
}

.offer__content .offer_heading{
  font-size: 3.3rem;
  color: var(--Text_color_Dark);
}
.offer__content p{
  color: var(--Text_color_Dark);
  margin: 0 auto;
}
.offer__content .apply{
  color: var(--Text_color_Light);
  background-color: var(--btn-color);
  padding: 1rem;
  border-radius: var(--Border-radius);
  box-shadow: 0 0 0.5rem var(--btn-color);
  transition: all 0.5s ease-in-out;
}
.offer__content .apply:hover,
.offer__content .apply:focus{
  box-shadow: none;
  transform: scale(95%);
}

#offer .offer-wrapper{
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 2.5rem;
  padding: 1.5% 1%;

}
.offer-wrapper .offer-box{
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}

.offer-box img{
  width: 100%;
  transition: 0.5s ease;
}

.offer-box:hover img{  
  transform: scale(1.15);
}

.offer-box .offer-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width:100% ;
  height: 100%;
  background: linear-gradient(rgba(0 ,0, 0, 0.8),rgba(0 ,0, 0, 0.9));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);  
  transition: 0.5s ease;

}


.offer-box:hover .offer-layer{
  transform: translateY(0);

}

.offer-layer h4{
  font-size: 1.9rem;
  color: var(--Text_color_Light);

}
.offer-layer p{
  font-size: 1.1rem;
  margin: .3rem 0 1rem;
  color: var(--Text_color_Light);
}

.offer-layer a{   
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--Text_color_Light);
  background-color: var(--btn-color);
  border-radius: 50%;
  cursor: pointer;
}


/* =================================Testimonial section================================*/
#testimonials{
  max-width: 120%;
  max-height: 100vh;
  overflow-x: hidden;
  text-align: center;
  background-color: var(--Text_color_Light);
  background-image: url(./assets/Testimony.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.3rem;
}
#testimonials h2{
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--Text_color_Dark);
}
#testimonials .swiper{
  max-width: 1100px;
}

#testimonials .swiper-slide{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem 0;
  background-color: #f5f0f00e;
  backdrop-filter: blur(5px);
  color: var(--Text_color_Dark);
  border-radius: 10px;
  
}
.swiper-slide p{
  width: 85%;
  line-height: 1.9;
  padding: 1rem;
  font-weight: 500;
  color: var(--Text_color_Dark);
}
#testimonials .swiper-slide img{
  width: 70px;
  height: 70px;
  object-fit: contain;
  clip-path: circle(50%);
}

.swiper-slide h4{
  padding: 0.8rem;
  color: var(--Text_color_Dark);
}

/*============================Footer styles =================*/
#footer{
  background-color: var(--Text_color_Light);
  padding: 1% 2%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  border-top: 1px inset var(--Text_color_Dark);
}
#footer .footerNav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem 0;
}

.footerLogo .Flogo{
  width: 160px;
  filter: contrast(200%) brightness(80%);
  animation: colorChange 0.5s ease-in-out infinite;
  
}

.footerNav .footer__icons{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.footer__icons a,
.footer__icons i{
  text-decoration: none;
  color: var(--Text_color_Dark);
  font-size: 0.9rem;
  padding: .3rem;
  transition: 0.3s ease-in-out all;
  font-size: 1.4rem;
}
.footer__icons a:hover,
.footer__icons a:focus{
  transform: scale(95%);
}
#footer .footerQuickLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footerQuickLinks p{
  color: var(--Text_color_Dark);
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  
}
.footerQuickLinks .quickLinks{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 1rem 0;

}
.quickLinks a{
  color: var(--Text_color_Dark);
  text-decoration: none;
  opacity: 0.55;
  transition: all 0.2s ease-in-out;
}
.quickLinks a:hover{
  opacity: 1;
  font-weight: 500;
}

#footer .footerSupport{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footerSupport p{
  color: var(--Text_color_Dark);
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  
}
.footerSupport .Support{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 1rem 0;

}
.Support a{
  color: var(--Text_color_Dark);
  text-decoration: none;
  opacity: 0.55;
  transition: all 0.2s ease-in-out;
}
.Support a:hover{
  opacity: 1;
  font-weight: 500;
}



#footer .footer__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__container h4{
  color: var(--Text_color_Dark);
  font-weight: 700;
  font-size: 1.1rem;
}
.footer__container .formFooter{
  padding: 1rem;
  display: flex;
  gap: 0 0.3rem;
}

.formFooter input{
  padding: .8rem;
  width: 250px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--Text_color_Dark);
  background-color: #817f7f53;
  backdrop-filter: blur(10px);
  font-size: 1rem;

}
.formFooter input::placeholder{
  color: var(--Text_color_Dark);
}
.formFooter  #subBtn{
  border: none;
  outline: none;
  padding: .5rem .9rem;
  font-size: .8rem;
  color: var(--Text_color_Light);
  font-weight: 700;
  background-color: var(--btn-color);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 0.6rem var(--btn-color);
  transition: all 0.3s ease;
}
.formFooter #subBtn:hover{
  box-shadow: none;
}
.footerRights p{
  color: var(--TEXT-COLOR-ONE);
  font-weight: 600;
  letter-spacing: 0.8px;
 
}

@media screen and (max-width: 1355px){
  html{
    font-size: 93%;
  }
  .offer-layer h4{
    font-size: 1.5rem;
  
  }
  .offer-layer p{
    font-size: 1rem;
    margin: .3rem 0;
  }


}
@media screen and (max-width: 1155px){
  .offer-layer h4{
    font-size: 1.4rem;
  }
  .offer-layer p{
    font-size: 0.95rem;
   
  }
  #home .slider .swiper{
    max-width: 985px;
  
  }
  
}

@media screen and (max-width: 985px){
  #home .slider .swiper{
    max-width: 778px;
  
  }
  #choose .choose__grid {
    grid-template-columns: repeat(2, auto);
  }
  #offer .offer-wrapper{
    grid-template-columns: repeat(2, auto);
  }

  #footer{
    grid-template-columns: repeat(3, auto);
  }
  #nav-links a{
    font-size: 1.05rem;
  }
 

}

@media screen and (max-width: 778px){
  header{
    padding: 3%;
  }
  header.sticky{
    padding: 3.1%;
  }
  header #nav-links{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--Text_color_Light);
    display: none;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    border-bottom: 1px solid var(--Text_color_Dark);
    

  }
  #nav-links.active{
    display:flex;
}
  header #MenuIcon{
    display: block;
    cursor: pointer;
  }
 

  #nav-links a{
    margin: 1.5rem 0;
    font-size: 1.3rem;
  }
  #home .slider .swiper{
    max-width: 637px;
  
  }
 
  .whatsApp a{
    font-size: 3.6rem;
  }
  .slider #wrap{
    width: 640px;
  }
}

@media screen and (max-width: 645px){
  
  #choose .choose__grid {
    grid-template-columns: auto;
  }
  .choose__grid .choose__card{
    box-shadow: 0 0 0.3rem var(--Text_color_Dark);
  }
  .choose__card span {
    font-size: 2.85rem;
    padding: 7px 1.1rem;
  }
  .choose__card h4 {
    font-size: 1.5rem;
  }
  .choose__card p {
    font-size: 1.1rem;
    line-height: 1.7;
  }
  #offer .offer-wrapper{
    grid-template-columns: auto;
  }
  .offer-layer h4{
    font-size: 2.2rem;
  }
  .offer-layer p{
    font-size: 1.5rem;
  }

  .swiper-slide p{
    width: 100%;
    line-height: 1.7;
  }
#footer{
    gap: 2rem 4rem;
    font-size: 108%;
}
.footerLogo .Flogo{
  width: 170px;

}
#footer .footerNav{
    grid-column: 1 /5;
    padding: 1rem;
}
#footer .footerQuickLinks{
    grid-column: 2/3;
    
}
#footer .footer__container{
    grid-column: 1 /5;
    padding: 1rem;
}
#home .slider .swiper{
  max-width: 525px;

}
  .slider #HomeContent p {
    font-size: 1rem;
  }

  .slider #wrap{
    width: 470px;
  }

}
@media screen and (max-width: 525px){
  html{
    font-size: 86%;
  }
  .whatsApp a{
    font-size: 3.2rem;
  }
  .choose__content p{
    width: 95%;
  }
  .offer-layer h4{
    font-size: 1.89rem;
  }
  .offer-layer p{
    font-size: 1.2rem;
  }
  .footerRights p{
    font-size: 0.98rem;

  }
  #home .slider .swiper{
    max-width: 475px;
  
  }
  .slider h1{
    font-size: 2.5rem;  
  }
  #FreeTraining #Training{
    font-size: 2.35rem;
}
#FreeTraining p{
  font-size: 1rem;
  
}
}
@media screen and (max-width: 475px){
  #home .slider .swiper{
    max-width: 385px;
  
  }
  .slider h1{
    font-size: 2.2rem;  
  }
  .slider #wrap{
    width: 375px;
  }

}
@media screen and (max-width: 385px){
  html{
    font-size: 78%;
  }
}


